<div class="bike-images">
  <img ng-src="{{currentBikePic}}"
  class="bike"
  ng-repeat="img in bike.images"
  ng-class="{active: currentBikePic==img}">
</div>

<h1>{{bike.name}}</h1>

<p>{{bike.description}}</p>

<ul class="bike-thumbs">
  <li ng-repeat="img in bike.images">
    <img ng-src="{{img}}" ng-click="bigPic(img)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Where to Buy</span>
    <dl>
      <dd ng-repeat="availability in bike.availability">{{availability}}</dd>
    </dl>
  </li>
  <li>
    <span>Dimensions</span>
    <dl>
      <dt>Height</dt>
      <dd>{{bike.sizeAndWeight.dimensions[1]}}</dd>
      <dt>Length</dt>
      <dd>{{bike.sizeAndWeight.dimensions[2]}}</dd>
      <dt>Width of handlebars</dt>
      <dd>{{bike.sizeAndWeight.dimensions[0]}}</dd>
    </dl>
  </li>
  <li>
    <span>Frame</span>
    <dl>
      <dt>Material</dt>
      <dd>{{bike.frame.material}}</dd>
      <dt>Weight</dt>
      <dd>{{bike.frame.weight}}</dd>
      <dt>Type</dt>
      <dd>{{bike.frame.type}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{bike.additionalFeatures}}</dd>
  </li>
  <li>
    <span>Overall</span>
    <dt>Totally awesome?</dt>
    <dd>{{bike.awesome | awesomeCheck}}</dd>
  </li>
</ul>
